# SPDX-License-Identifier: GPL-2.0
#
# Copyright (c) 2021-2026 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
---
- name: Include vars
  include_vars:
    file: ~/etc/ansible/vars/buildbot-upload.yml

# Need to get required vars also for delegated hosts
- name: Include vars
  include_vars:
    file: ~/etc/ansible/vars/buildbot-upload.yml
  delegate_to: '{{ host_buildbot_upload_ssh }}'
  delegate_facts: true

- name: Check requirements for variables
  debug:
  when: lookup('vars', item) is undefined
  loop:
    - buildbot_group
    - buildbot_home
    - buildbot_user
    - ssh_allow_group
    - user_buildbot_upload

- name: Create buildbot user
  user:
    name: '{{ buildbot_user }}'
    shell: /bin/bash
    home: '/home/{{ buildbot_user }}'
    state: present
    create_home: yes
    password_lock: yes
    force: no
    remove: no
    generate_ssh_key: yes
    # see: sshd
    append: yes
    groups: '{{ ssh_allow_group }}'
  become: yes
  become_user: root

- name: Add admin to buildbot group
  user:
    name: '{{ ansible_user_id }}'
    groups: '{{ buildbot_group }}'
    append: yes
  # become_user must be aparently set after usage of ansible_user_id
  # so ansible_user_id will point to original invoker (not root)
  become: yes
  become_user: root

- name: Set authorized SSH key for admin
  ansible.posix.authorized_key:
    user: '{{ buildbot_user }}'
    state: present
    key: "{{ lookup('file', item) }}"
  with_fileglob:
    - "{{ lookup('env','HOME') + '/.ssh/id_rsa.pub' }}"
    - "{{ lookup('env','HOME') + '/.ssh/id_ed25519.pub' }}"
  become: yes
  become_user: root

- name: Set chmod on buildbot user's home directory
  file:
    path: '{{ buildbot_home }}'
    # o+x: Accessible for WWW server
    mode: '0751'
  become: yes
  become_user: root

- name: Get public SSH key
  command: /bin/cat {{ buildbot_home }}/.ssh/id_rsa.pub
  register: ssh_public_key
  check_mode: no
  changed_when: no
  remote_user: '{{ buildbot_user }}'

# Only for debug. No need to print it as registering at gate happens in playbook here.
- debug:
    msg:
      - 'SSH public key for user {{ buildbot_user }}:'
      - '{{ ssh_public_key.stdout_lines }}'

- name: Deploy key to master for uploads
  ansible.posix.authorized_key:
    user: '{{ user_buildbot_upload }}'
    key: '{{ ssh_public_key.stdout }}'
  delegate_to: '{{ host_buildbot_upload_ssh }}'
  become: yes
  become_user: root
  # Ansible has trouble with concurrent steps on one machine -> gate,
  # so only one key is being stored eventually (last step overwrites).
  # Throttling solves the problem.
  throttle: 1

- debug:
    msg:
      - 'Manually remove old keys from any replaced hosts!'
