[Unit]
Description=Notify about sucessfull boot
After=network.target network-online.target
Requires=network-online.target

[Service]
# Script will wait for sendmail process (so it won't get killed by
# closed terminal) so we cannot use oneshot (it would delay the boot).
Type=simple
ExecStart=/usr/local/bin/boot-pi-status.sh
User=pi

[Install]
WantedBy=multi-user.target
