# SPDX-License-Identifier: GPL-2.0
#
# Copyright (c) 2026 Krzysztof Kozlowski <krzk@kernel.org>
---
- name: Include vars
  include_vars:
    file: ~/etc/ansible/vars/gate.yml

- name: Install service files
  ansible.builtin.template:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    mode: '{{ item.mode }}'
  with_items:
    - {src: 'auto-suspend.service.j2', dest: '/etc/systemd/system/auto-suspend.service', mode: '0644'}
    - {src: 'auto-suspend.timer.j2', dest: '/etc/systemd/system/auto-suspend.timer', mode: '0644'}
    - {src: 'auto-suspend.sh.j2', dest: '/usr/local/bin/auto-suspend.sh', mode: '0755'}
  become: yes
  become_user: root
  register: systemd_service

- name: Systemd reload
  systemd:
    daemon_reload: yes
  become: yes
  become_user: root
  when: systemd_service.changed | default(False)

- name: Systemd enable service
  ansible.builtin.systemd:
    name: '{{ item }}'
    enabled: yes
    state: started
    masked: no
  with_items:
    - auto-suspend.timer
    - auto-suspend.service
  become: yes
  become_user: root
  when: systemd_service.changed | default(False)
