# SPDX-License-Identifier: GPL-3.0
#
# Based on https://github.com/mricon/grokmirror/tree/b5ffa134cbee8913177ae3dc7d4db40a637c5cfa
# See original repo for initial copyrights
# Copyright (c) 2022 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
[Unit]
Description=Grok-fsck service for %I
Documentation=https://github.com/mricon/grokmirror

[Service]
Type=oneshot
Environment="EXTRA_FSCK_OPTS="
EnvironmentFile=-/etc/sysconfig/grokmirror.default
EnvironmentFile=-/etc/sysconfig/grokmirror.%i
ExecStart=/usr/local/bin/grok-fsck -c /etc/grokmirror/%i.conf $EXTRA_FSCK_OPTS
CPUSchedulingPolicy=batch
# To override these users, create a drop-in systemd conf file in
# /etc/systemd/system/grok-fsck@[foo].service.d/10-usergroup.conf:
# [Service]
# User=yourpreference
# Group=yourpreference
User={{ user_mirror }}
Group={{ group_mirror }}
