[Unit]
Description=Launch buildbot master
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/buildbot.sh start master
ExecStop=/usr/local/bin/buildbot.sh stop master
ExecReload=/usr/local/bin/buildbot.sh reload master
User=buildbot
PIDFile=/home/buildbot/master/twistd.pid

[Install]
WantedBy=multi-user.target
