# Copyright (c) 2015-2021,2026 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
#
# SPDX-License-Identifier: GPL-2.0
#
[Unit]
Description=Launch buildbot master
After=network.target network-online.target
Requires=network-online.target
After=mysql.service mariadb.service

[Service]
Type=forking
ExecStart=/usr/local/bin/buildbot.sh start master
ExecStop=/usr/local/bin/buildbot.sh stop master
ExecReload=/usr/local/bin/buildbot.sh reload master
User=buildbot
Group=buildbot
PIDFile=/home/buildbot/master/twistd.pid
Restart=on-abnormal
RestartSec=15
TimeoutStartSec=180
ProtectSystem=strict
ReadWritePaths=/home/buildbot/master/
# TODO: Move to /var/lib?
# ProtectHome=yes
# StateDirectory=buildbot
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectControlGroups=strict
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
