# Copyright (c) 2015-2020 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
#
# SPDX-License-Identifier: GPL-2.0
#
[Unit]
Description=Launch buildbot slave
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/buildbot.sh start worker
ExecStop=/usr/local/bin/buildbot.sh stop worker
User=buildbot
PIDFile=/home/buildbot/worker/twistd.pid
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
