.container
  .row
    .well
        h2 About me
        .row
          ul
            li Krzysztof Kozlowski
            li Embedded Linux Kernel developer
            li You can reach me by e-mail: &lt;krzk at kernel dot org&gt;
            li Linux Kernel maintainer of Samsung Exynos ARM and ARM64 architectures (and few other parts)
            li
              a(href="https://github.com/krzk") github.com/krzk
            li
              a(href="https://www.linkedin.com/in/krzkoz") LinkedIn profile / CV

  mixin markus
    |  (donated by Markus Reichl, 
    a(href="http://www.fivetechno.de/") five technologies GmbH
    | )
  mixin google
    |  (donated by Google)

  .row
    .well
        h2
          img.nut-spin(src="img/icon.svg", width="64px")
          | &nbsp;About this&nbsp;
          a(href="http://buildbot.net") buildbot
          | &nbsp;running for&nbsp;
          a(ng-href="{{config.titleURL}}") {{config.title}}
        .row
          p This personal projects provides a continuous 
            b build 
            | and 
            b boot testing 
            | of Linux kernel on Samsung's Exynos-based boards (Hardkernel Odroid).
          p The goal is to ensure that Exynos based boards work fine with current mainline Linux kernel. Additionally it automatically validates and tests commits being added to my officially maintained Linux kernel trees.
          p This Buildbot builds Linux kernel in different configurations, boots target boards with built kernel and runs few Exynos-specific tests.  The boards take rootfs from NFS server.
          p
            b List of booted target boards:
          ul
            li Insignal Arndale Octa (Exynos5420)
              +markus
            li Hardkernel Odroid HC1 (Exynos5422)
            li Hardkernel Odroid U3 (Exynos4412)
              +markus
            li Hardkernel Odroid XU (Exynos5410)
              +markus
            li Hardkernel Odroid XU3 (Exynos5422)
            li
              i Hardkernel Odroid X2 (Exynos4412) - not connected
              +markus
            li
              i Google Chromebook Peach Pi/Pit (Exynos5800) - not connected
              +google

          p
            b Source code:
          p Source code for this Buildbot configuration can be found under 
            a(href="https://github.com/krzk/tools/tree/master/buildbot") github.com/krzk / tools/buildbot
          p Source code for tests run on targets can be found under 
            a(href="https://github.com/krzk/tools/tree/master/tests") github.com/krzk / tools/tests
          p
            b List of tested Linux kernel trees:
          ul
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git") mainline
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git") linux-next
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git") stable
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/krzk/linux.git") Samsung Exynos maintainer tree
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/pinctrl/samsung.git") Samsung Exynos pinctrl maintainer tree

          p Current setup with six boards (Arndale Octa, HC1, U3, X2, XU and XU3), NFS root and Meanwell power supply:
          img(src="/pub/krzk_testing_setup_-_april_2019.jpg", alt="Current setup with six boards (Arndale Octa, HC1, U3, X2, XU and XU3), NFS root and Meanwell power supply", width="800")

          br
          br
          p Diagram of setup (with Meanwell power supply, two Pis and two relay boards):
          img(src="/pub/board-farm-diagram.png", alt="Diagram of setup (with Meanwell power supply, two Pis and two relay boards)")
