.container
  .row
    .well
        h2 About me
        .row
          ul
            li Krzysztof Kozlowski
            li Embedded Linux Kernel developer
            li You can reach me by e-mail: &lt;krzk at kernel dot org&gt;
            li Linux Kernel maintainer of Samsung Exynos ARM and ARM64 architectures (and few other parts)
            li
              a(href="https://github.com/krzk") github.com/krzk
            li
              a(href="https://www.linkedin.com/in/krzkoz") LinkedIn profile / CV

  mixin markus
    |  (donated by Markus Reichl, 
    a(href="http://www.fivetechno.de/") five technologies GmbH
    | )

  .row
    .well
        h2
          img.nut-spin(src="img/icon.svg", width="64px")
          | &nbsp;About this&nbsp;
          a(href="http://buildbot.net") buildbot
          | &nbsp;running for&nbsp;
          a(ng-href="{{config.titleURL}}") {{config.title}}
        .row
          p This personal projects provides a continuous 
            b build 
            | and 
            b boot testing 
            | of Linux kernel on Samsung's Exynos-based boards (Hardkernel Odroid).
          p The goal is to ensure that Exynos based boards work fine with current mainline Linux kernel. Additionally it automatically validates and tests commits being added to my officially maintained Linux kernel trees.
          p This Buildbot builds Linux kernel in different configurations, boots target boards with built kernel and runs few Exynos-specific tests.  The boards take rootfs from NFS server.
          p
            b List of booted target boards:
          ul
            li Hardkernel Odroid HC1
            li Hardkernel Odroid U3
              +markus
            li Hardkernel Odroid XU
              +markus
            li Hardkernel Odroid XU3

          p
            b List of tested Linux kernel trees:
          ul
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git") mainline
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/next/linux-next.git") linux-next
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git") stable
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable-rc.git") stable-rc
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/krzk/linux.git") Samsung Exynos maintainer tree
            li
              a(href="https://git.kernel.org/pub/scm/linux/kernel/git/pinctrl/samsung.git") Samsung Exynos pinctrl maintainer tree

          p Additional resources:
          ul
            li
              a(href="https://github.com/krzk/tools/tree/master/buildbot") Buildbot configuration
            li
              a(href="https://github.com/krzk/tools/tree/master/tests") Tests


          p Extended setup with three Odroid boards (U3, XU and XU3) and NFS root:
          img(src="/pub/krzk_testing_setup_-_three_odroid_boards.jpg", alt="Extended setup with three Odroid boards (U3, XU and XU3) and NFS root", width="640")

          br
          br

          p Initial bare setup in November 2015 with only Odroid XU3:
          img(src="/pub/krzk_testing_setup_-_bare_hardware_at_Dongtan.jpg", alt="Initial bare setup in November 2015 with only Odroid XU3", width="640")
