# SPDX-License-Identifier: GPL-2.0
#
# Copyright (c) 2019-2026 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
---
- name: Check requirements for variables
  debug:
  when: lookup('vars', item) is undefined
  loop:
    - ssh_allow_group

- name: Add group for SSH logins
  group:
    name: '{{ ssh_allow_group }}'
    state: present
  become: yes
  become_user: root

- name: Add current user to group SSH logins
  user:
    name: '{{ ansible_user_id }}'
    append: yes
    force: no
    generate_ssh_key: no
    groups: '{{ ssh_allow_group }}'
    state: present
  become: yes
  become_user: root

- name: Configure SSH
  template:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    mode: '{{ item.mode }}'
  with_items:
    - {src: '99-restrict-access.conf.j2', dest: '/etc/ssh/sshd_config.d/99-restrict-access.conf', mode: '0644'}
    - {src: '95-keep-alive.conf', dest: '/etc/ssh/sshd_config.d/95-keep-alive.conf', mode: '0644'}
  become: yes
  become_user: root
  # TODO: reload ssh

- name: Check if only one AllowGroups is set in SSH
  shell: test $(grep AllowGroups /etc/ssh/sshd_config | wc -l) -eq 0
  check_mode: no
  changed_when: no

- name: Check if old AllowUsers is not set in SSH
  shell: test $(grep AllowUsers /etc/ssh/sshd_config | wc -l) -eq 0
  check_mode: no
  changed_when: no
