---
# Copyright (c) 2022,2026 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <krzk@kernel.org>
#
# SPDX-License-Identifier: GPL-2.0
- name: Check if grub is installed
  stat:
    path: /etc/default/grub
  register: grub_install

- name: Disable all Spectre/Meltdown/L1TF/MDS mitigations
  # The machines do not execute untrusted code (e.g. JavaScript from web pages or 3rd party virtual machines)
  template:
    src: 99-safe-env.cfg
    dest: /etc/default/grub.d/99-safe-env.cfg
    mode: 0644
  register: grub_configuration
  become: yes
  become_user: root

- name: Update grub (Debian)
  command: update-grub
  become: yes
  become_user: root
  when:
    - grub_configuration.changed | default(False)
    - ansible_facts['os_family'] == 'Debian'

- name: Update grub (CentOS)
  command: grub2-mkconfig -o /boot/grub2/grub.cfg
  become: yes
  become_user: root
  when:
    - grub_configuration.changed | default(False)
    - ansible_facts['os_family'] == 'RedHat'
