# Copyright (c) 2015-2021 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
#
# SPDX-License-Identifier: GPL-2.0
#
[Unit]
Description=Launch buildbot slave
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=forking
ExecStart=/usr/local/bin/buildbot.sh start {{ buildbot_worker_dirname }}
ExecStop=/usr/local/bin/buildbot.sh stop {{ buildbot_worker_dirname }}
User={{ buildbot_user }}
PIDFile={{ buildbot_basedir }}/twistd.pid
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=multi-user.target
