# Copyright (c) 2015,2016 Krzysztof Kozlowski
# Author: Krzysztof Kozlowski <k.kozlowski.k@gmail.com>
#                             <krzk@kernel.org>
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License version 2 as
# published by the Free Software Foundation.

[Unit]
Description=Notify about sucessfull boot
After=network.target network-online.target
Requires=network-online.target

[Service]
# Script will wait for sendmail process (so it won't get killed by
# closed terminal) so we cannot use oneshot (it would delay the boot)...
# but with Postfix should be okay
Type=oneshot
ExecStart=/usr/local/bin/boot-pi-status.sh
User=pi

[Install]
WantedBy=multi-user.target
